.view {
  margin: 0 auto;
  padding-top: 37px;

  display: flex;
  flex-direction: row;
  color: black;
}
.view__game {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75vw;
}
.bet-control-container {
  display: flex;
}

@media (max-width: 991px) {
  .view {
    flex-direction: column;
  }
}
